@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.featured-cars-list {
  padding: 0;
}

.featured-cars-list li {
  list-style: none;
}

.featured-cars-list-container h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  color: #54104e;
}